html {
  --main-color: #063449;
  --second-color: #e8f1f5;
  --alternative-color: #dddcda;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  transition: all 0.3s ease 0s;
}

.loader {
  margin: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0.5rem auto;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

h1 {
  font-size: 1.75rem;
  margin: 0.5rem;
  font-weight: 900;
}

h2 {
  margin: 0 auto;
  padding: 0;
  font-size: 1rem;
}

h3 {
  margin: 0.5rem;
  font-weight: 300;
  font-size: 1rem;
}

p {
  font-size: 0.85rem;
  margin: 0 0.5rem;
}

ul {
  margin: 0.5rem auto;
}

body {
  margin: 0;
  overflow-x: hidden;
}

header {
  position: fixed;
  background-color: #ffffff;
  border-radius: 0 0 1rem 1rem;
  height: 15vh;
}

.nav-buttons {
  color: #ffffff;
  background-color: var(--main-color);
  width: 80vw;
  height: 15vh;
  padding: 0;
  border-radius: 1rem;
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5em;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease 0s;
}

.nav-buttons > * {
  height: 3rem;
  width: 3rem;
  background-color: #ffffff;
  color: var(--main-color);
  border-radius: 50%;
  margin: 0.05rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.nav-buttons > *:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.nav-buttons > *:active {
  transform: translateY(-1px);
}

main {
  margin: 22.5vh auto 5vh;
  display: grid;
  grid-template-areas:
    "a"
    "b"
    "b";
  row-gap: 5vh;
}

.profile,
.exp,
.skills {
  border-radius: 1rem;
  transition: all 0.3s ease 0s;
  color: var(--main-color);
  background-color: var(--alternative-color);
  height: 75vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile,
.exp,
.skills > * {
  margin: 0 auto;
}

.profile {
  text-align: center;
}

.exp > *,
.skills > * {
  margin: auto 3rem;
}

.info {
  max-width: 100%;
}

footer {
  border-radius: 1rem;
  height: 50vh;
  margin: 2.5vh auto;
  background-color: var(--main-color);
  color: var(--second-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.75rem;
  }

  /* h2 {
    font-size: 1.25rem;
  } */

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.75rem;
  }

  .nav-buttons,
  .profile,
  .exp,
  .skills {
    width: 95vw;
  }

  .exp > *,
  .skills > * {
    margin: auto 0.25rem;
  }

  .nav-buttons {
    font-size: 1.25rem;
  }

  .nav-buttons > * {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@media only screen and (max-height: 384px) and (orientation: landscape) {
  h1 {
    font-size: 1.25rem;
    margin: 0.15rem auto;
  }

  /* h2 {
    font-size: 1.15rem;
    margin: 0.15rem auto;
  } */

  h3 {
    font-size: 0.75rem;
    margin: 0.15rem auto;
  }

  p {
    font-size: 0.75rem;
  }

  .profile-pic img {
    border: 0.05rem;
    max-width: 100px;
    margin: 0.05rem auto;
  }

  .nav-buttons,
  .profile,
  .exp,
  .skills {
    width: 95vw;
  }

  /*   header {
    height: 15vh;
  }
 */
  .nav-buttons {
    font-size: 1rem;
  }

  .nav-buttons > * {
    height: 2.25rem;
    width: 2.25rem;
  }
}
